/* assets */ 

@import url("two-col-shortcode.css");

.singleArticle img {
  max-width: 90vw;  
  max-height: 90vh;  
  width: auto;       /* let image use its natural width unless it exceeds max */
  height: auto;      /* preserve aspect ratio */
  object-fit: contain;
  display: block;    /* avoids inline spacing */
  margin: 0 auto;    /* optional: centers the image */

  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: ui-sans-serif,
system-ui,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
NotoColorEmoji,
Segoe UI Symbol,
Android Emoji,
EmojiSymbols;
/* Custom CSS */

.prose :where(h1):not(:where([class~="not-prose"] *)) {
    color: white !important;
}

/* Custom CSS end */
@import url("style.css");