<style>
    input[type="number"], textarea, select {
        background-color: rgb(17 24 39);

        padding: 2px;
        padding-left: 10px;
    }
    textarea {
        resize: none;
        width: 100%;
    }
    label {  
        display: block;
        margin-top: 1px; }
    .two-col label {
        display: inline-block;
    }
    .tableLabel {
        display: inline-block;
        width: 100px;
        text-align: right;
        margin-right: 10px;
    }
    tfoot td { font-weight: bold; }
    th {
        text-align: left;
    }
    #scalableBuildings {
        max-width: 700px;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-around;
    }
    #scalableBuildings label {
        flex: 0 1 310px;
        display: inline-block;
    }

</style>

<h3>Planetary Projects:</h3>

    <label>
         <span class="tableLabel">Warehouse:</span>
        <input id="startWarehouseLevel" type="number" min="0" max="20" value="0">
            →
        <input id="endWarehouseLevel" type="number" min="0" max="20" value="0">
    </label>
    <span style="margin-left:30px">
        Warehouse Capacity: <span id="endCap">0</span> t / m3.
    </span>
<label>
  <input type="checkbox" id="togglePlanetaryAdmin">
  Planetary Administration Center
</label>
<label>
  <input type="checkbox" id="toggleCOGC">
  Chamber of Global Commerce
</label>
<label>
  <input type="checkbox" id="toggleShipyard">
  Shipyard
</label>
<label>
  <input type="checkbox" id="toggleLocalMarket">
  Local Market
</label>

<h3>Infrastructure Buildings:</h3>
<div id="scalableBuildings"></div>

<hr/>

<h3>Materials:</h3>
<table id="results">
  <thead>
    <tr>
      <th>Material</th>
      <th>Total Cost</th>
      <th>Price (AVG)</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody></tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total Price</td>
      <td id="grandTotal">0</td>
    </tr>
  </tfoot>
</table>

<h3>Export to XIT ACTION</h3>

<h3>Export Options</h3>
<label>
  Origin:
  <select id="originSelect">
    <option>Antares Station Warehouse</option>
    <option>Moria Station Warehouse</option>
    <option>Arclight Station Warehouse</option>
    <option>Benten Station Warehouse</option>
    <option>Hortus Station Warehouse</option>
    <option>Hubur Station Warehouse</option>
  </select>
  <span id="originEmoji">😀</span>
</label>
<br/>

<textarea id="jsonOutput" readonly></textarea>
<br/>
<button class="px-5 py-2 mt-4 text-base font-medium text-white bg-gray-900 border border-transparent rounded-md shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10" id="copyBtn">Copy JSON</button>

<script src="/calculator.js"></script>
