<!-- twoColImage.html -->
{{- $verticalClass := "items-top" -}}
{{- if eq (.Get "verticalCenter") "true" -}}
    {{- $verticalClass = "items-center" -}}
{{- end -}}

{{- $orderOne := "order-first" -}}
{{- $orderTwo := "order-last" -}}
{{- if eq (.Get "right") "true" -}}
    {{- $orderOne = "order-last" -}}
    {{- $orderTwo = "order-first" -}}
{{- end -}}

<div class="two-col {{ $verticalClass }}">
    <div class="col {{ $orderOne }}">
        {{ .Inner | markdownify  }}
    </div>
    <div class="col {{ $orderTwo }}">
        {{- $src := .Get "imageURL" -}}
        {{- $image := .Page.Resources.GetMatch $src -}}

        {{- $srcVid := .Get "videoURL" -}}
        {{- $vidResource := .Page.Resources.GetMatch $srcVid -}}

        {{ if $vidResource }}
        <video width=100% autoplay loop muted alt="{{ .Get "alt" }}">
            <source src="{{ $vidResource.RelPermalink }}" type="video/webm">
            Your browser does not support the video tag.  
        </video>
       {{ else if $image }}
            <a href="{{ $image.RelPermalink }}">
                <img
                    src="{{ $image.RelPermalink }}"
                    alt="{{ .Get "alt" }}"
                    width="{{ default $image.Width (.Get "forceWidth") }}"
                    height="{{ $image.Height}}"
                   class="content-image"
                />
            </a>
        {{ else }}
            <a href="{{$src}}">
                <img
                    src="{{ $src }}"
                    alt="{{ .Get "alt" }}"
                    class="content-image"
                />
            </a>
        {{ end }}
    </div>
</div>
