
<div class="grid items-top gap-8 mb-8 sm:mb-0 lg:gap-12 lg:grid-cols-12">
    <div class="col-span-6 px-4 text-left sm:mb-6 lg:mb-0">
        {{ .Inner | markdownify }}
    </div>
    <div class="col-span-6">
        {{- $src := .Get "imageURL" -}}
        {{- $image := .Page.Resources.GetMatch $src -}}

        {{ if $image }}
            <!-- Use Page Bundle Resource if found -->
            <img
                src="{{ $image.RelPermalink }}"
                alt="{{ .Get "alt" }}"
                width="{{ $image.Width }}"
                height="{{ $image.Height }}"
                class="w-full max-w-xl mx-auto rounded-lg"
            />
        {{ else }}
            <!-- Fallback to static resource if not found -->
            <img
                src="{{ $src }}"
                alt="{{ .Get "alt" }}"
                class="w-full max-w-xl mx-auto rounded-lg"
            />
        {{ end }}
    </div>
</div>