<style>
  #material-matcher .input-row {
    max-width: 300px;
  }
</style>
<div id="material-matcher" class="calculator">
  <h3>Shipping Peeper</h3>
  <div class="inputs">
    <label class="input-row">
      <span>Total Weight (t):</span>
      <input type="number" id="inputWeight" placeholder="e.g. 100" step="any">
    </label>

    <label class="input-row">
      <span>Total Volume (m³):</span>
      <input type="number" id="inputVolume" placeholder="e.g. 200" step="any">
    </label>

    <button
      id="calcButton"
      class="px-5 py-2 mt-4 text-base font-medium text-white bg-gray-900 border border-transparent rounded-md shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10">
      Find Possible Materials
    </button>
  </div>

  <table id="resultTable" style="margin-top: 1em; display: none;">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Name</th>
        <th>Category</th>
        <th>Weight Each</th>
        <th>Volume Each</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <p id="noResults" style="display: none;">No exact material matches found.</p>
</div>

<script type="module" src="/material-finder.js"></script>
